<!DOCTYPE html>
<html>

<head>
    <title>TOURISM</title>
</head>

<body>
    <table>
        <h1>Product Details</h1>
        <tr>
            <td>Product Name</td>
            <td><%= myData._name %></td>
        </tr>
        <tr>
            <td>Cost</td>
            <td><%= myData._token %></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><%= myData._quantity %></td>
        </tr>
    </table>
</body>

</html>